Здесь будет обработка скачанного датасета с помощью моделей анализа данных

In [7]:
import numpy as np
import pandas as pd

In [10]:
motorcycles = pd.read_csv('data/motorcycles.csv', index_col='id')
motorcycles.head()

,price,model,mileage,motorcycle_class,year,engine_capacity,engine_strokes,damaged,documents,city,date
id,,,,,,,,,,,
1,300 000₽,Kawasaki KX 250F,148 км,Кроссовый,2015,250 куб. см.,4х тактный,Исправен,Без ПТС,Москва,22 ноября
2,98 000₽,Suzuki GN 125,2 677 км,Классика,2008,125 куб. см.,4х тактный,Исправен,Есть ПТС,Москва,22 ноября
3,595 000₽,Suzuki V-Strom DL650A,2 км,Эндуро,2014,645 куб. см.,4х тактный,Исправен,Есть ПТС,Москва,22 ноября
4,100 000₽,Honda CB 400SF,45 000 км,Классика,1993,400 куб. см.,4х тактный,Исправен,Есть ПТС,Москва,22 ноября
5,190 000₽,Kawasaki KLX 250,17 854 км,Эндуро,2011,250 куб. см.,4х тактный,Исправен,Есть ПТС,Москва,22 ноября

In [11]:
motorcycles.engine_strokes.value_counts()

4х тактный    5916
None           558
2х тактный     374
Name: engine_strokes, dtype: int64

In [19]:
motorcycles.damaged.value_counts()

Исправен      6630
None           134
Неисправен      84
Name: damaged, dtype: int64

In [13]:
motorcycles.motorcycle_class.value_counts()

None               3550
Чоппер             1223
Классика            462
Спортивный          364
Круизер             280
Спорт-турист        260
Эндуро              173
Питбайк             171
Туристический       128
Стритфайтер          79
Кроссовый            58
Кастом               49
Мотард               22
Детский              17
Трайк (трицикл)      12
Name: motorcycle_class, dtype: int64

In [16]:
motorcycles.engine_capacity.value_counts()[:8]

400 куб. см.      760
600 куб. см.      671
250 куб. см.      605
1 000 куб. см.    339
650 куб. см.      315
750 куб. см.      247
1 200 куб. см.    241
1 300 куб. см.    225
Name: engine_capacity, dtype: int64